[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pypdf = "*"
matplotlib = "*"
plotly = "*"
scikit-learn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.13"
